<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Weather</title>
	</head>
	<body>
	<h1>Weather Info:</h1>
        <p>Location Detected: {{areaCaptured}}</p>
        <p>Current Temperature: {{temperature}}</p>
        <p>Feels like: {{apparentTemperature}}</p>
        <p>Weather Outside: {{summary}}</p>
        <p>Humidity Level: {{humidity}}</p>
        <p>Forecast: {{forecast}}</p>
        <p>Wind Speed: {{windSpeed}}</p>
        <br>
        <p><a href="/">Back to Search</a></p>
        <p>Designed by: Rahul Kumar Pal</p>
	</body>
</html>