<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <script defer src="js/all.js"></script>
		<title>Weather</title>
	</head>
    <style type="text/css">
        html,body {
            height: 100vh;
            background: rgba(255,255,255,1);
        }
        .base {
            height: 96vh;
        }
        .left {
            background: rgba(255,255,255,1);
        }
        .right {
            background: #2196F3;
        }
        @media only screen and (max-width: 767px) {
          .base {
            height: 100%;
          }
          .extraSpace {
            padding-top: 3%;
          }
        }
    </style>
	<body>
        <div class="container-fluid">
            <div class="row base">
               <div class="col-sm-12 col-md-7 col-lg-7 left my-auto">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-0"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h1 class="display-4" style="font-family: 'Questrial', sans-serif;">Weather details</h1>
                            <br>
                            <p><i class="fas fa-map-marker-alt"></i> {{areaCaptured}}</p>
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <p><i class="fas fa-thermometer-three-quarters"></i> {{temperature}}</p>
                                    <p>Feels like: {{apparentTemperature}}</p>
                                    <p>Wind Speed: {{windSpeed}}</p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-12">
                                    <p>Weather Outside: {{summary}}</p>
                                    <p>Humidity Level: {{humidity}}</p>
                                    <p>Forecast: {{forecast}}</p>
                                </div>
                            </div>
                            <br>
                            <p><a href="/" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back</a></p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-0"></div>
                    </div>
               </div>
               <div class="col-sm-0 col-md-5 col-lg-5 right">
                   <div class="row base">
                    <div class="col-sm-12 col-md-12 col-lg-12 my-auto">
                        <div class="extraSpace">
                            <p class="text-light text-center" style="font-family: 'Questrial', sans-serif; font-size: 18px;">Coded with <u><a class="text-light" href="https://darksky.net/dev" target="_blank">Dark Sky</a></u> , <u><a class="text-light" href="https://locationiq.com/" target="_blank">LocationIQ</a></u> API<br>and a sleepless night!</p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>
        <footer class="">
            <p style="font-family: 'Inconsolata', monospace; text-align: center; margin: 0; background: #f1f2f6;"><small>Rahul Kumar Pal | <a target="_blank" href="https://github.com/vicky724">Github</a> | <a target="_blank" href="https://twitter.com/rahulpal_UPwale">Twitter</a> | <a href="mailto:rahulpal.dav@gmail.com">Mail</a></small></p>
        </footer>
	</body>
</html>